# Design tool files
#####################################################
*.sketch
*.fig
*.xd

# System files
.DS_Store
Thumbs.db

# Project files to ignore
README-template.md
style-guide.md
text.md
.prettierignore

# Only these files will be tracked (all others ignored)
!index.html
!index.css
!README.md
!preview.jpg

# Allow these directories
!images/
!design/

